FLASK_SECRET_KEY=xxxxxxxxxxxxxxxx
SUPABASE_URL=https://xxxxxx.supabase.co
SUPABASE_KEY=sb_publishable_xxxxxxxxxxxx
SUPABASE_SERVICE_KEY=xxxxxxxxxxxxxxxx
# Desarrollo
FLASK_DEBUG=1
# Producción (en el servidor)
#FLASK_DEBUG=0