{% extends "base.html" %}

{% block title %}Inicio{% endblock %}

{% block content %}

<div class="hero">


    <div class="hero-content">
        <h1>
            TABLERO DE SEGUIMIENTO <br/>
            A LOS ACUERDOS DEL <br/>
            SISTEMA NACIONAL ANTICORRUPCIÓN
        </h1>

        <div class="buttons">
            <button class="btn">
                Actas
                <img src="{{ url_for('static', filename='assets/icons/arrow_back.svg') }}">
            </button>

            <a href="https://www.youtube.com/watch?v=4ZZl-bmTMVs" target="_blank">
                <button class="btn">
                    Sesiones
                    <img src="{{ url_for('static', filename='assets/icons/link.svg') }}">
                </button>
            </a>

            <a class="btn" href="{{ url_for('resultados') }}">
                Resultados
                <img src="{{ url_for('static', filename='assets/icons/bar_chart.svg') }}">
            </a>

        </div>
    </div>

</div>



{% endblock %}

</body>
</html>